@import '../../../colors.scss';

.root {
    border: 1px solid $whisper_color;
    border-radius: 6px;
    background-color: $primary_color;
    color: $white_color;
    font-weight: 600;
}

.checkboxAll {
    min-width: 46px;
    max-width: 46px;
}

.action {
    max-width: 96px;
    min-width: 96px;
    text-align: center;
    padding: 0px !important;
}