@import '../../../colors.scss';

.root {
    border: 1px solid $whisper_color;
    border-radius: 6px;
    margin: 8px 0px;
}

.checkboxItem {
    min-width: 46px;
    max-width: 46px;
}

.action {
    max-width: 76px;
    min-width: 76px;
}

.buttonView {
    margin-bottom: 1.5px !important;
}

.buttonDelete {
    margin-top: 1.5px !important;
}